<section
    id="perso"
    class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
    <div class="max-w-5xl mx-auto">
        <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">
            A propos de moi
        </h2>
        <h3 class="text-4xl md:text-5xl font-medium mb-8">
            Centres d'intérêt et loisirs
        </h3>
        <div
            class="flex flex-col lg:flex-row lg:items-start lg:space-x-8 md:gap-4"
        >
            <h1
                class="text-[var(--white)] text-5xl md:text-3xl font-medium text-pretty leading-none lg:w-1/5"
            >
                Intérêts
            </h1>
            <p class="text-md md:text-2xl text-[var(--white-icon)] lg:w-4/5">
                L'<span class="text-[var(--sec)] shiny-sec">open source</span>, 
                les nouvelles technologies, l'IA, l'automatisation, la <span class="text-[var(--sec)] shiny-sec">cybersécurité</span> et le 
                <span class="text-[var(--sec)] shiny-sec">DEVOPS</span>. <br>
                Engagé pour l'environnement et le Green IT avec une approche de discernement technologique.
            </p>
        </div>
        <div
            class="flex flex-col lg:flex-row lg:items-start lg:space-x-8 md:gap-4"
        >
            <h1
                class="text-[var(--white)] text-5xl md:text-3xl font-medium text-pretty leading-none lg:w-1/5"
            >
                Loisirs
            </h1>
            <p class="text-md md:text-2xl text-[var(--white-icon)] lg:w-4/5">
                Pratique de l'<span class="text-[var(--sec)] shiny-sec">escalade</span>, 
                passionné de <span class="text-[var(--sec)] shiny-sec">jeux de société</span> et de stratégie, ainsi que de <span class="text-[var(--sec)] shiny-sec">bande dessinée</span>.
            </p>
        </div>
        <div
            class="flex flex-col lg:flex-row lg:items-start lg:space-x-8 md:gap-4"
        >
            <h1
                class="text-[var(--white)] text-5xl md:text-3xl font-medium text-pretty leading-none lg:w-1/5"
            >
                Projets
            </h1>
            <p class="text-md md:text-2xl text-[var(--white-icon)] lg:w-4/5">
                Organisation d'une base de connaissances avec la méthode 
                <span class="text-[var(--sec)] shiny-sec">Zettelkasten</span> 
                (site web en construction). <br>
                Mise en place d'un <span class="text-[var(--sec)] shiny-sec">HomeLab</span>  et approfondissement 
                de mes connaissances Linux avec Arch.
            </p>
        </div>
    </div>
</section>